services:
  db:
    image: postgres:16
    restart: unless-stopped
    ports:
      - "55432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: menu_db
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
